/* 中间分类模块 */

img {
    vertical-align: top;
}

.grid {
    position: relative;
    height: 480px;
}

.ad {
    position: absolute;
    top: 0;
    left: -250px;
    width: 250px;
    height: 480px;
    cursor: pointer;
}

.ad-r {
    z-index: 999;
    position: absolute;
    top:0;
    left: 250px;
    height: 480px;
}

.grid-col1 {
    width: 190px;
    height: 100%;
    background-color: #6e6568;
    color: #fff;
    font-size: 16px;
}

.grid-col1 ul {
    padding-top: 10px;
}

.grid-col1 ul li {
    padding-left: 12px;
    height: 29px;
    line-height: 29px;
}

.grid-col1 ul li:hover {
    background-color: #9c9698;
}

.grid-col1 a {
    color: #fff;
    font-size: 14px;
    margin-right: 8px;
}

.grid-col1 a:hover {
    color: #f10215;
}

.grid-col2 {
    width: 790px;
    height: 100%;
    margin-left: 10px;
}

.grid-col2-b div {
    float: left;
    margin-top: 10px;
}

.grid-col2-b div:last-child {
    float: right;
}

.grid-col2-t {
    position: relative;
}

.arrow-l, .arrow-r {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 60px;
    background-color: rgba(77, 75, 75, 0.26);
    transform: translateY(-50%);
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.418);
    font-family: Arial, Helvetica, sans-serif;
}

.arrow-l {
    left: 0;
}

.arrow-r {
    right: 0;
}

.circle {
    width: 165px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.418);
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    border-radius: 10px;
    padding-left: 6px;
}

.circle li {
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    float: left;
    margin: 4px 4px 0;
    cursor: pointer;
}

.circle .current {
    background-color: red;
}

/* 右边模块 */

.grid-col3 {
    width: 190px;
    height: 100%;
    float: right;
}

/* 登录模块 */

.login {
    height: 85px;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    padding: 15px;
}

.login-t {
    position: relative;
    width: 95px;
    height: 60px;
    line-height: 20px;
    font-size: 12px;
    padding-left: 60px;
    color: #666;
}

.user-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: url(../img/sprite_userinfo@1x.png) no-repeat;
}

.user-info img {
    width: 40px;
    margin: 5px;
    border-radius: 50%;
}

.login-t a {
    color: #666;
}

.login-t a:hover {
    color: red;
}

.login-b a {
    display: inline-block;
    width: 70px;
    height: 20px;
    margin-right: 3px;
    border: 2px red solid;
    text-align: center;
    line-height: 20px;
}

.login-b a:hover {
    background-color: red;
    color: white;
}

/* 新闻模块 */

.news {
    height: 155px;
    border-bottom: 1px solid #fff;
}

.new-t {
    position: relative;
    height: 19px;
    border-bottom: 1px solid #ccc;
}

.new-t a {
    float: left;
    height: 17px;
    line-height: 17px;
    text-align: center;
}

.promotion {
    width: 38px;
    border-right: 1px solid #ccc;
}

.notice {
    width: 38px;
    text-align: center;
}

.new-t .more {
    float: right;
}

.new-t div {
    position: absolute;
    bottom: -1px;
    width: 28px;
    height: 2px;
    background-color: red;
}

.new-b ul {
    margin-top: 15px;
    height: 23px;
    line-height: 23px;
}

/* 服务拓展模块 */

.expend {
    height: 208px;
    overflow: hidden;
}

.expend ul {
    width: 195px;
}

.expend li {
    float: left;
    width: 47px;
    height: 69px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}